<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TracerX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <TracerX.Properties.Settings>
        <setting name="OpenDir" serializeAs="String">
          <value />
        </setting>
        <setting name="DuplicateTimes" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="RelativeTime" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="LineNumSeparator" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ExpandNewlines" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="IndentChar" serializeAs="String">
          <value />
        </setting>
        <setting name="IndentAmount" serializeAs="String">
          <value>3</value>
        </setting>
        <setting name="KeepFilter" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="VersionCheckInterval" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="VersionLastChecked" serializeAs="String">
          <value>2007-12-15</value>
        </setting>
        <setting name="ColoringEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ExportHeader" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ExportIndentation" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ExportFile" serializeAs="String">
          <value />
        </setting>
        <setting name="ExportSeparators" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ExportDupTimes" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ExportTimeAsText" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ExportTimeWithBlank" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="VersionCheckingAllowed" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ShowCalledMethods" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="AutoUpdate" serializeAs="String">
          <value>True</value>
        </setting>
      </TracerX.Properties.Settings>
    </userSettings>
</configuration>