<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TracerX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TracerX.Properties.Settings>
            <setting name="Port" serializeAs="String">
              <!--The default port, which the TracerX-Viewer expects the service to use, is 25120.  If you change this,
                    either change the viewer's default too or uses will have specify the port for ever server connection.-->
                <value>25120</value>
            </setting>
            <setting name="PortRetryIntervalMinutes" serializeAs="String">
              <!--If greater than zero the service will retry acquiring the port at intervals of this many minutes.
                    Otherwise, the service will immediately terminate if another process is already using the port.-->
                <value>5</value>
            </setting>
            <setting name="SelfUpdateIntervalMinutes" serializeAs="String">
              <!--If greater than zero the service will check the folder specified by SelfUpdateSourcePath at intervals
                    of this many minutes.  If the folder contains a higher version of the current executable (TracerX-Service.exe)
                    then the service will generate and execute a .bat file that stops the service, copies the files from
                    SelfUpdateSourcePath to the path of the current executable, and restarts the service.  This procedure
                    will fail if the service account lacks permission to perform any of those steps.-->
                <value>0</value>
            </setting>
            <setting name="SelfUpdateSourcePath" serializeAs="String">
              <!--Path to folder containing latest service binaries.  Relevant only if SelfUpdateIntervalMinutes > 0.-->
                <value/>
            </setting>
            <setting name="ImpersonateClients" serializeAs="String">
                <value>False</value>
            </setting>
        </TracerX.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
